In [1]:
# Write a function 'fib(n)' that takes in a number as an argument.
# The function should return the n-th number of the fibonacci sequence.

In [ ]:
# The 0th number of the sequence is 0.
# The 1st number of tbe sequence is 1.

In [ ]:
# To generate the next number of the sequence , we sum the previous two.

In [36]:
def fib(n):
    table = [0] * (n+2)
    table[1] = 1
    for i in range(n):
        table[i+1] += table[i]
        table[i+2] += table[i]
    return table[n]

In [37]:
fib(6)

8

In [38]:
fib(50)

12586269025